<wgly-sidebar></wgly-sidebar>
<div id="checklist">
  @for (item of shoppingList.value; track $index) {
  <input
    id="{{ item.itemId }}"
    type="checkbox"
    [(ngModel)]="item.checked"
    value="{{ item.itemId }}"
  />
  <label for="{{ item.itemId }}">{{ item.quantity }}x {{ item.name }}</label>
  }
</div>
<div>
  <input type="text" [formControl]="addItemQuantity" /><input
    type="text"
    [formControl]="addItemName"
    placeholder="Senf"
  /><button (click)="addItem()">Add</button>
  <button (click)="done()">Done</button>
</div>
