<wgly-sidebar></wgly-sidebar>
@if(!isLoading) { @if(!shoppingList.value?.length){
<div>No items in list</div>
}@else {
<div id="checklist">
  @for (item of shoppingList.value; track $index) {
  <input
    id="{{ item.itemId }}"
    type="checkbox"
    [(ngModel)]="item.checked"
    value="{{ item.itemId }}"
  />
  <label for="{{ item.itemId }}">{{ item.quantity }}x {{ item.name }}</label>
  }
</div>
} }@else {
<wgly-loading />
}
<div class="controls">
  <div class="controls__control">
    <input
      class="controls__control--input"
      type="number"
      [formControl]="addItemQuantity"
    />
    <button class="controls__control--button" (click)="addItem()">Add</button>
  </div>
  <div class="controls__control">
    <input
      class="controls__control--input"
      type="text"
      [formControl]="addItemName"
      placeholder="Senf"
    />
    <button class="controls__control--button" (click)="done()">Done</button>
  </div>
</div>
