<wgly-icon
  class="icon"
  size="x-large"
  (click)="clickToggleSidebar()"
  *ngIf="sidebarCollapsed"
  >menu</wgly-icon
>
<div
  class="navbar"
  [@sidebarAnimation]="sidebarCollapsed ? 'collapsed' : 'expanded'"
>
  <wgly-icon
    *ngIf="!sidebarCollapsed"
    class="icon icon--open"
    size="x-large"
    (click)="clickToggleSidebar()"
    >menu_open</wgly-icon
  >
  <div class="navbar__navItems">
    <wgly-pill [routerLink]="pathResolver.getHome()">
      <wgly-heading type="tertiaryContainer">Home</wgly-heading>
    </wgly-pill>
    <wgly-pill [routerLink]="pathResolver.getHome()">
      <wgly-heading type="tertiaryContainer">Einkaufen</wgly-heading>
    </wgly-pill>
  </div>
  <div class="navbar__logins">
    <wgly-discord-login></wgly-discord-login>
  </div>
</div>
