<wgplanner-icon
  class="icon"
  size="x-large"
  (click)="clickToggleSidebar()"
  *ngIf="sidebarCollapsed"
  >menu</wgplanner-icon
>
<div
  class="navbar"
  [@sidebarAnimation]="sidebarCollapsed ? 'collapsed' : 'expanded'"
>
  <wgplanner-icon
    *ngIf="!sidebarCollapsed"
    class="icon icon--open"
    size="x-large"
    (click)="clickToggleSidebar()"
    >menu_open</wgplanner-icon
  >
  <div class="navbar__navItems">
    <wgplanner-pill [routerLink]="pathResolver.getHome()">
      <wgplanner-heading type="tertiaryContainer">Home</wgplanner-heading>
    </wgplanner-pill>
  </div>
</div>
