@use '../../../mixins.scss';
:host {
  border-radius: var(--border-radius-full);
  background-color: var(--tertiary-container);
  padding: var(--spacing-large);
  display: flex;
  align-items: center;
  justify-content: center;

  @include mixins.hover {
    background-color: var(--tertiary-container-hover);
  }
}
