@use '../../../mixins.scss';
:host {
  border-radius: var(--border-radius-full);
  background-color: #333333;
  padding: var(--spacing-large);
  display: flex;
  align-items: center;
  justify-content: center;

  @include mixins.hover {
    background-color: lighten(#333333, 10%);
  }
}
